<!DOCTYPE html>
<html>

<head>
    <title>Curated News</title>
    <!-- Add Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% for item in news_items %}
    <div class="item">
        <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
        <p class="published">Published: {{ item.published.strftime('%a, %d %b %Y %H:%M:%S %Z') }}</p>
        {% if item.image %}
        <img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
        {% endif %}
        <p>{{ item.summary }}</p>
    </div>
    <hr>
    {% endfor %}
</body>

</html>
